html {
    background-color: rgb(241, 208, 244);
}

h2 { /* < 표시*/
    position: relative;
    top: -160px; left: -170px;
}

h1 {/* ≡ 표시 */
    position: relative;
    top: -220px; left: 170px;
    margin: 10px;
    height:5px;
    font-size: 30px;
}
    
h4{ /*10-12*/
    position: relative;
    top: -205px; 
    margin-bottom: -10px;
    height:5px;
}

hr { /*수평선*/
    background-color: #000000;
    height:2px; width: 250%;
    margin-bottom: -50px;
    border: 0;
    position: relative;
    top: -180px; left: -120px;
}
.wrap { /*전체 검정색*/
    border: 15px solid black;
    width: 160px; height: 370px;
    padding: 150px; margin: auto;
    border-radius: 50px;
    text-align: center;
}    

.profile { /*다롱이(강아지) 사진*/
    margin: 5px;
    height: 5px; width:5px;
    position: relative;
    top: -95px; left: -120px;
}

.profile>img { /*다롱이(강아지) 사진 테두리*/
    border-radius: 50px;
}

.box8 { /*이재현 이름 텍스트*/
    text-align: left;
    position: relative;
    top: -100px; left: -50px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
}

.box1 { /*핸드폰 카메라 /조그만 검정색*/
    padding: 0;
    width:175px; height:30px;
    background-color:black;
    border-radius: 0px 0px 20px 20px;
    display: block;
    position: relative;
    top: -155px; left:-5px;
}

*{ /*전체 폰트*/
    font-family: 'Nanum Gothic', sans-serif;
}

.chat2>p { /*메시지*/
    padding: 20px; margin:15px;
    clear: both; height:auto;
    background-color:rgb(118, 22, 235);
    color:white;
    border-radius: 0px 40px 40px;
    position: relative;
    top:-95px; left: -10px;; 
    float: left;
}

.chat2 { /*메시지 스크롤*/
    overflow-y: scroll; overflow-x: visible;
    -ms-overflow-style: none;
    position: relative;
    top:-60px; left:-50px;
    width: 350px; height:450px;
    text-align: center;
}
.chat2::-webkit-scrollbar {
    display:none;
}
  
.chat2>p>img { /*보내준 사진*/
    border-radius: 0px 20px 20px;
    margin: -25px; 
}

p>audio { /*오디오*/
    margin:-15px
}

/*header 하이퍼링크 색상,밑줄 없애기*/
a { text-decoration: none; color: black; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }